<ion-header>
  <ion-toolbar>
    <ion-title>next-days</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-activatable ripple-parent">
          <ion-icon routerLink="/next-days" name="chevron-back-outline" class="ion-justify-content-center" ></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
