<ion-header>
  <ion-toolbar>
    <ion-title>main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="wrapper">
      <div class="place ion-justify-content-center ion-text-center">
        <ion-label class="label1">London</ion-label><br />
        <ion-label class="label2">Heavy Rain tonight</ion-label>
      </div>
      <div class="temp1 ion-text-center">
        <h1>27<span>&#176;</span></h1>
      </div>
      <!-- <div class="snow1">
      <ion-img src="../../../assets/icons/snow/snow1.png"></ion-img>
    </div> -->
      <div class="moon1">
        <ion-img src="../../../assets/icons/moon/moon1.png"></ion-img>
      </div>
      <div class="details">
        <ion-grid>
          <ion-row>

            <ion-col>
              <div class="card">
                <ion-img src="../../../assets/icons/moon/rain1.png" class="card-img-top" alt="..."></ion-img>
              </div>
            </ion-col>
            <ion-col>
              <div class="card">
                <ion-img src="../../../assets/icons/sun/sun1.png" class="card-img-top" alt="..."></ion-img>
              </div>
            </ion-col>
            <ion-col>
              <div class="card">
                <ion-img src="../../../assets/icons/moon/moon3.png" class="card-img-top" alt="..."></ion-img>
              </div>
            </ion-col>

          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>