ion-toolbar{
    --background: rgb(62, 97, 219);
     --border:none;
     --color:white;
     text-align: center;

}

ion-content {
    --background: rgb(62, 97, 219);
    --background: linear-gradient(180deg, rgba(62, 97, 219, 1) 11%, rgba(84, 133, 226, 1) 41%, rgba(92, 145, 230, 1) 69%, rgba(102, 160, 231, 1) 91%);
}


.wrapper {
    position: relative;

    .place {
        // margin-top: 60px;

        .label1 {
            font-family: "Mont-Bold";
            font-size: 3rem;
            color: #F2f2F2;
        }

        .label2 {
            font-family: "Mont-Light";
            font-size: 1.2rem;
            color: #F2f2F2;
            font-weight: 600;
        }
    }

    .temp1 {

        // background-color: aqua;
        h1 {
            font-family: "Poppins-Bold";
            font-size: 6rem;
            color: #F2f2F2;
            margin: 0;
        }
    }

    .moon {
        // background-color: aquamarine;
        height: 349px;
       

        .moon1 {
            position: absolute;
            // background-color: bisque;
            width: 206px;
            height: 253px;
            left: 20%;
            top: 191px;

            // transform: rotate(180deg);
            // transform: scaleX(-1);

            ion-img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }

        .details {
            // background-color: blue;
            position: absolute;
            top: 433px;
            width: 100%;
            left: 13px;

            // left: 32px;
            .card {
                background-color: #093075;
                border-radius: 19px 28px 26px 13px;
                width: 80px;
                padding: 9px;
                height: 75px;

                // margin: 1px 11px;
                ion-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                ion-text {
                    // background-color: rgb(148, 88, 10);
                    font-family: "Mont-Light";
                    color: #F2f2F2;
                    display: flex;
                    justify-content: center;
                }
            }

            .card2-img {
                // background-color: aqua;
                padding: 12px;
                height: 77px;
            }
        }
    }

    .today {
        ion-text h3 {
            font-family: "Mont-Bold";
            font-size: 1.7rem;
            color: #F2f2F2;
            font-weight: 600;
        }

        .next {
            display: flex;
        }

        ion-text p {
            font-family: "Mont-Light";
            font-size: 1rem;
            color: #F2f2F2;
            font-weight: 600;
            margin-top: 23px;
            // background-color: #093075;
        }

        .ripple-parent {
            position: relative;
            overflow: hidden;

            ion-icon {
                margin-top: 25px;
                margin-left: 13px;
                font-family: "Mont-Light";
                font-size: 1rem;
                color: #F2f2F2;
            }
        }
    }
//     .week, .new-swiper-slider{
//         .card{
//             background-color: #F2f2F2;
//             border-radius: 300px;
//             display: flex;
//             flex-wrap: wrap;
//             height: 149px;
//             box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;            
//             .week-icon{
//                 width: 66px;
//                 height: 53px;
//                 margin: 0 auto;
                
//             }
//             ion-img{
//                 width: 100%;
//                 height: 100%;
//                 object-fit: cover;
//             }
//             p{
//             text-align: center;
//             width: 100%;
//             font-weight: 600;
//             color: darkgray;
//             margin-top: 13px;
// }
//             }
//         }



}