<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="wrapper">
      <div class="bg-img1 ion-justify-content-center">
        <ion-img src="../../assets/images/bg1.png"></ion-img>
      </div>
      <div class="bg-text1 ion-justify-content-center">
        <ion-text class="ion-justify-content-center ion-text-center">
          <h3>Find <span class="yellow">Weather</span> Forecast for your city</h3>
          </ion-text>
            <ion-text class="ion-text-center">
              <p>
                Easy steps to predict the weather and make your day easier.
              </p>
            </ion-text>
            <div class="ion-text-center btn1">
              <ion-button routerLink="/main">Get Started</ion-button>
            </div>
      </div>
    </div>
  </div>
</ion-content>
